/* Загальні стилі */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Контейнер */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стилі для заголовків */
h1,
h2,
h3,
h4 {
    color: #333;
}

/* Стилі для посилань */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стилі для карток курсів та вебінарів */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-description {
    color: #666;
}

footer {
    background-color: initial;
    color: initial;
    text-align: center;
    padding: 10px 0;
    flex-shrink: none;
}